.title {
  font-size: 20px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  // color: #000;
}
.toggle_item {
  border-radius: 5px;
  border: 1px solid #d7d7d7;
}
.select_item {
  border-radius: 5px;
  border: 1px solid #d7d7d7;
}
.select_opt {
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  // color: #000;
}
