<ion-menu side="end" contentId="main-content" menuId="quizMenu">
  <ion-header class="menu_header">
    <ion-toolbar>
      <ion-title class="menu_title">Quiz Navigation</ion-title>
      <ion-icon (click)="onClose()" class="p-1" slot="end" size="large" name="close-sharp"></ion-icon>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-content>
    <ion-list lines="none" class="p-0" *ngFor="let item of quizContent">
      <ion-item>
        <ion-label class="menu_label">{{item.heading}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content> -->
</ion-menu>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button color="primary" slot="start" defaultHref=""></ion-back-button>
    <!-- <ion-title class="title">Quiz on Spot The Phish</ion-title> -->
    <ion-title class="title" [innerHTML]="quizName"></ion-title>
    <!-- <ion-icon (click)="onBookmark()" class="p-1" slot="end" size="large" color="primary"
      name="bookmark-outline"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content class="reset-scroll" #contentContainer  [fullscreen]="true" id="main-content">
  <input type="text" #myInput placeholder="Type something here...">
  <!-- <div class="main ion-padding" *ngIf="!showNext"> -->
  <div class="main ion-padding">

    <div class="col-12 mb-3 time_slot d-flex align-items-end justify-content-between">
      <h1 [ngStyle]="{ color: timer <= 60 ? '#B80000' : '' }" class="time_h">
        Time Left <strong>{{ formatTime(timer) }}</strong>
      </h1>
      <h1 [ngStyle]="{ color: timer <= 60 ? '#B80000' : '' }" class="time_h">
        <!-- Last Time <strong>{{ formatTime(lastactiontime) }}</strong> -->
      </h1>
      <p class="time_p">Hide</p>
    </div>
    <ion-card class="card p-3 mb-3" *ngFor="let item of quizData">
      <ion-label>
        <div [innerHTML]="item.sanitizedHtml" ></div>
      </ion-label>
      <!-- <h1 class="card_head mt-0">{{item.heading}}</h1>
      <p class="card_en">{{item.en}}</p>
      <p class="card_hn">{{item.hn}}</p>
      <ion-list lines="none">
        <ion-radio-group [(ngModel)]="item.selecetdValue" (ionChange)="handleChange($event, item)">
          <ion-item>
            <ion-radio color="success" [value]="true" justify="space-between">{{item.a}}</ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio color="success" [value]="false" justify="space-between">{{item.b}}</ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-button class="clear" fill="outline" color="primary" (click)="clearSelection(item)"><span
          class="span_clear">Clear Choice</span></ion-button> -->
    </ion-card>
    <div>
      <ion-button class="btn_nxt" [disabled]="nextDisabled" color="success" expand="block" (click)="onNext()"><span
          class="span_nxt">Next</span></ion-button>
    </div>
  </div>
  <!-- <div class="main h-100 position-relative" *ngIf="showNext">
    <div class="ion-padding">
      <div class="card p-3 mb-3">
        <h1 class="card_head mt-0">Summary of Attempt</h1>
        <ion-list lines="none" class="mb-3">
          <ion-item>
            <ion-label class="list_left">#</ion-label>
            <ion-label class="list_ryt">Summary</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label_left">1</ion-label>
            <ion-label>
              <div class="d-flex align-items-center justify-content-between">
                <p class="label_left">Answer Saved</p>
                <ion-icon color="primary" slot="end" name="chevron-forward-sharp"></ion-icon>
              </div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label_left">2</ion-label>
            <ion-label>
              <div class="d-flex align-items-center justify-content-between">
                <p class="label_left">Answer Saved</p>
                <ion-icon color="primary" slot="end" name="chevron-forward-sharp"></ion-icon>
              </div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label_left">3</ion-label>
            <ion-label>
              <div class="d-flex align-items-center justify-content-between">
                <p class="label_left">Answer Saved</p>
                <ion-icon color="primary" slot="end" name="chevron-forward-sharp"></ion-icon>
              </div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label_left">4</ion-label>
            <ion-label>
              <div class="d-flex align-items-center justify-content-between">
                <p class="label_left">Answer Saved</p>
                <ion-icon color="primary" slot="end" name="chevron-forward-sharp"></ion-icon>
              </div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label_left">5</ion-label>
            <ion-label>
              <div class="d-flex align-items-center justify-content-between">
                <p class="label_left">Answer Saved</p>
                <ion-icon color="primary" slot="end" name="chevron-forward-sharp"></ion-icon>
              </div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label_left">6</ion-label>
            <ion-label>
              <div class="d-flex align-items-center justify-content-between">
                <p class="label_left">Answer Saved</p>
                <ion-icon color="primary" slot="end" name="chevron-forward-sharp"></ion-icon>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
        <p class="deadline">
          This attempt must be submitted by Monday, 19 February 2024, 10:12 AM
        </p>
      </div>
    </div>
    <div class="ion-padding position-absolute bottom-0 w-100">
      <ion-button class="btn_nxt" color="success" expand="block" (click)="onSubmit()"><span class="span_nxt">Submit all
          and Finish</span></ion-button>
    </div>
  </div> -->
</ion-content>

