.pref_title {
  font-size: 20px;
  // color: #000;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.pref_p {
  font-size: 18px;
  color: #464646;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
