.badges_title {
  font-size: 20px;
  // color: #000;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.main {
  margin-top: 50%;
}
.image {
  display: inline-block;
}
.main_p{
  // color: #565656;
  font-family: "Inter",sans-serif;
  font-size: 25px;
  font-weight: 500;
}