<!-- <ion-tabs>
  <ion-tab-bar slot="bottom" class="ion-padding">
    <ion-tab-button tab="home">

      <ion-icon *ngIf="URL !== '/home'" size="large" name="school-sharp"></ion-icon>
      <ion-icon *ngIf="URL === '/home'" size="large" color="primary" name="school-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="calender">
      <ion-icon *ngIf="URL !== '/calendar'" size="large" name="calendar-sharp"></ion-icon>
      <ion-icon *ngIf="URL === '/calendar'" size="large" color="primary" name="calendar-sharp"></ion-icon>

    </ion-tab-button>
    <ion-tab-button  tab="chat">


      <ion-icon  *ngIf="URL !== '/chat'" size="large" name="chatbubbles-sharp"></ion-icon>
      <ion-icon *ngIf="URL === '/chat'" size="large" color="primary" name="chatbubbles-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="more">

      <ion-icon *ngIf="URL !== '/more'" size="large" name="ellipsis-horizontal-sharp"></ion-icon>
      <ion-icon *ngIf="URL === '/more'" size="large" color="primary" name="ellipsis-horizontal-sharp"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="school-sharp"></ion-icon>
      
    </ion-tab-button>
    <ion-tab-button tab="calender">
      <ion-icon name="calendar-sharp"></ion-icon>

    </ion-tab-button>
    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles-sharp"></ion-icon>

    </ion-tab-button>
    <ion-tab-button tab="more">
      <ion-icon name="ellipsis-horizontal-sharp"></ion-icon>

    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>