<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CommunicationSC001</ion-title>
    <ion-back-button color="primary" slot="start" defaultHref=""></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="card">
    <ion-list lines="none">
      <ion-item>
        <ion-label class="label_left">Path :</ion-label>
        <ion-label class="label_ryt">Sales /</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="label_left">Activities :</ion-label>
        <ion-label class="label_ryt">No Activities</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="label_left">Learning Plans :</ion-label>
        <ion-label class="label_ryt"
          >No Learning plan in this competency</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-label class="label_left">Proficient :</ion-label>
        <ion-label><span class="label_no">No</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="label_left">Rating :</ion-label>
        <ion-label>
          <div class="d-flex">
            <ion-img src="assets/img/rating.png"></ion-img></div
        ></ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div>
    <h1 class="evi_head">Evidence</h1>
    <p class="evi_p">No Evidence</p>
  </div>
</ion-content>
