<!-- Profile Menu Start -->
<ion-menu side="end" contentId="main-content" menuId="privacy">
  <ion-header>
    <ion-toolbar>
      <ion-item lines="none">
        <ion-label slot="start" class="profile_heading">User Account</ion-label>
        <ion-icon class="p-1" slot="end" size="large" name="close-sharp" (click)="onClose()"></ion-icon>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="col-12 text-center ion-padding">
      <h1 class="profle_title">GURUKUL</h1>
      <!-- <div class="d-flex justify-content-center mb-3">
        <a (click)="openCapacitorSite()" class="profile_link">https://uat-gurukul.skfin.in</a>
      </div> -->
    </div>
    <hr class="profile_hr" />
    <ng-container *ngIf="userData">
      <div class="d-flex align-items-center justify-content-between ion-padding"
        *ngFor="let item of userData; let i = index">
        <div class="d-flex align-items-center">
          <ion-img [src]="item.profileimageurl" class="img-fluid rounded-start profile_img" alt=""></ion-img>
          <p class="profile_name m-1">{{item.fullname}}</p>
        </div>
      </div>
    </ng-container>
    <!-- <hr class="profile_hr" />
    <div class="d-flex align-items-center justify-content-between ion-padding" (click)="onGrades()">
      <div class="d-flex align-items-center">
        <ion-img src="assets/img/result.png"></ion-img>
        <p class="profile_grades m-2">Grades</p>
      </div>
      <ion-icon slot="end" color="primary" size="large" name="chevron-forward-sharp"></ion-icon>
    </div>
    <div (click)="onBadges()" class="d-flex align-items-center justify-content-between ion-padding pt-0">
      <div class="d-flex align-items-center">
        <ion-img class="p-1" src="assets/icon/trophy.svg"></ion-img>
        <p class="profile_grades m-2">Badges</p>
      </div>
      <ion-icon slot="end" color="primary" size="large" name="chevron-forward-sharp"></ion-icon>
    </div>
    <hr class="profile_hr" /> -->
    <!-- <div class="d-flex align-items-center justify-content-between ion-padding">
      <div class="d-flex align-items-center">
        <ion-icon class="setting_icon p-1" name="settings-outline"></ion-icon>
        <p class="profile_grades m-1">Prefrences</p>
      </div>
      <ion-icon
        (click)="onPreferences()"
        slot="end"
        color="primary"
        size="large"
        name="chevron-forward-sharp"
      ></ion-icon>
    </div> -->
  </ion-content>
  <ion-footer [translucent]="true" class="ion-padding">
    <ion-toolbar>
      <ion-button expand="block" color="danger" class="logout_btn" (click)="onLogout()"><ion-icon
          name="power-sharp"></ion-icon><span class="logout_span p-1">Logout</span></ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
<!-- Profile Menu End -->

<ion-header [translucent]="true" id="main-content">
  <ion-toolbar>
    <ion-item lines="none" class="p-0 m-0">
      <ion-back-button defaultHref="/home" color="primary" slot="start"></ion-back-button>
      <ion-label slot="start" class="title">Privacy Policy</ion-label>
      <ion-img slot="end" class="profile_img" [src]="userImg ? userImg : 'assets/img/user.png'"
        (click)="onProfile()"></ion-img>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, ad consectetur? Eaque, ratione porro consectetur error alias repellendus modi? Dolor eveniet magni, possimus molestiae nisi iusto culpa! Sapiente et perspiciatis nostrum, nemo, amet cum, officia doloribus saepe tempora dolorem neque delectus facere id vitae inventore molestias ratione minima earum! Voluptatem.
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
