section#option-pane {
 top: -100px !important;
}
  
.option-pane {
    background: #ff00dd;
    color: #fff;
    z-index: 10;
    transition: none !important;
    margin-top: 130px;
    text-align: center;
}
