<ion-menu side="end" contentId="main-content" menuId="menu">
  <ion-content class="ion-padding">
    <div class="col-12 text-center" *ngIf="!recentData">
      <h1 class="menu_heading mb-3">Recently Accessed Items</h1>
      <div class="d-flex justify-content-center mb-3">
        <ion-img src="assets/img/recent_access.png"></ion-img>
      </div>
      <p class="menu_body">No Recent Items</p>
    </div>
    <div class="col-12">
      <h1 class="menu_heading mb-3 text-center">Recently Accessed Items</h1>
      <ion-card class="card" *ngFor="let item of recentData; let i = index;" (click)="onRecentCardClick(item)">
        <ion-card-content class="m-0 p-0">
          <ion-list lines="none" class="m-0 p-0">
            <ion-item class="m-0 p-0">
              <ion-thumbnail slot="start" class="img-fluid rounded-start">
                <img [src]="(item.icon | srcExtractor) ? (item.icon | srcExtractor) : 'assets/img/images.png'"
                  alt="Image" />
              </ion-thumbnail>
              <ion-list class="col-12">
                <ion-label class="mb-2 card_displayname"> {{ item.coursename | replaceAmp }}</ion-label>
                <ion-label class="card_text_badge mb-2">
                  Course
                </ion-label>
              </ion-list>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-menu>


<!-- <app-header [profileImg]="userImg"></app-header> -->

<!-- Profile Menu Start -->
<ion-menu side="end" contentId="main-content" menuId="menuProfilee">
  <ion-header>
    <ion-toolbar>
      <ion-item lines="none">
      <ion-label slot="start" class="profile_heading ps-3">User Account</ion-label>
      <ion-icon class="p-1" slot="end" size="large" name="close-sharp" (click)="onClose()"></ion-icon>
    </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- <div class="d-flex col-12 text-center ion-padding">
      <ion-img src="assets/img/Logo 3x.jpg" class="img-fluid rounded-start profile_img m-2" alt=""></ion-img>
      <h1 class="profle_title">GURUKUL</h1>
    </div>
    <hr class="profile_hr" /> -->
    <ng-container>
      
      <!-- <div class="d-flex align-items-center justify-content-between ion-padding" *ngFor="let item of userData; let i = index">
        <div class="d-flex align-items-center" (click)="onClickUser()">
          <ion-img [src]="item.profileimageurl" class="img-fluid rounded-start profile_img" alt=""></ion-img>
          <p class="profile_name m-1">{{item.fullname}}</p>
        </div>
      </div> -->

      <!-- <div> -->
        <!-- <ion-content padding>
          <div class="profile-container" *ngIf="userDataProfile">
           
              <ion-item class="profile-header border p-1" line="none">
                <ion-img [src]="userImg ? userImg : 'assets/img/user.png'" class="img-fluid rounded-start profile-Img-side" alt=""></ion-img>
                <p class="profile_name m-1 p-2"><strong>{{userDataProfile[0].fullname}}</strong></p>
              </ion-item>
            
            <ion-list>
              <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label>{{ userDataProfile[0].username }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-label>{{ userDataProfile[0].email }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="call" slot="start"></ion-icon>
                <ion-label>{{ userDataProfile[0].phone1 }}</ion-label>
              </ion-item>
             
            </ion-list>
          </div>
        </ion-content> -->

        <ion-content padding>
          <div class="profile-container" *ngIf="userDataProfile">
            <!-- Profile Header -->
            <ion-item class="profile-header border p-1" line="none">
              <!-- <ion-img [src]="userImg ? userImg : 'assets/img/user.png'" class="img-fluid rounded-start profile-Img-side" alt=""></ion-img> -->
              <ion-img [src]="userImg ? userImg : 'assets/img/user.png'" class="img-fluid rounded-start profile-Img-side" alt=""></ion-img>
              <p class="profile_name m-1 p-2"><strong>{{userDataProfile[0].fullname}}</strong></p>
            </ion-item>
        
            <!-- User Information List -->
            <ion-list>
              <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label>{{ userDataProfile[0].username }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-label>{{ userDataProfile[0].email }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="call" slot="start"></ion-icon>
                <ion-label>{{ userDataProfile[0].phone1 }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="location" slot="start"></ion-icon>
                <ion-label>
                  <p>SK Finance Ltd. 
                  Adarsh Plaza,
                  Khasa Kothi Circle,
                  Jaipur-302001,
                  Rajasthan,
                  Ph: 01414161641
                </ion-label>
              </ion-item>
            </ion-list>
        
            <!-- New Address Section -->
            <ion-list class="">
              <!-- Reach out to us Section -->
              <ion-item >
                <ion-label class="text-center">
                  <strong >Reach out to us:</strong>
                </ion-label>
              </ion-item>
              <ion-item class="text-center" lines="none">
                <ion-row class="row">
                 <ion-col size="4" class="col-3"></ion-col>
                  <ion-col size="2" class="col-3" class="ion-text-center flex-end">
                    <a href="mailto:learning@skfin.net">
                      <ion-icon size="large" name="mail" color="primary"></ion-icon>
                    </a>
                  </ion-col>
                  <ion-col size="4" class="col-3"></ion-col>
                  <ion-col size="2" class="col-3 ion-text-center flex-start">
                    <a href="tel:01414161641">
                      <ion-icon size="large" name="call" color="success"></ion-icon>
                    </a>
                  </ion-col>
                 
                </ion-row>
              </ion-item>
            </ion-list>
          </div>
        </ion-content>
        
     
    </ng-container>
    <!-- <hr class="profile_hr" />
    <div class="d-flex align-items-center justify-content-between ion-padding" (click)="onGrades()">
      <div class="d-flex align-items-center">
        <ion-img src="assets/img/result.png"></ion-img>
        <p class="profile_grades m-2">Grades</p>
      </div>
      <ion-icon slot="end" color="primary" size="large" name="chevron-forward-sharp"></ion-icon>
    </div>
    <div (click)="onBadges()" class="d-flex align-items-center justify-content-between ion-padding pt-0">
      <div class="d-flex align-items-center">
        <ion-img class="p-1" src="assets/icon/trophy.svg"></ion-img>
        <p class="profile_grades m-2">Badges</p>
      </div>
      <ion-icon slot="end" color="primary" size="large" name="chevron-forward-sharp"></ion-icon>
    </div>
    <hr class="profile_hr" /> -->
  </ion-content>
  <ion-footer [translucent]="true" class="ion-padding">
    <ion-toolbar>
      <ion-button expand="block" color="danger" class="logout_btn" (click)="onLogout()"><ion-icon
          name="power-sharp"></ion-icon><span class="logout_span p-1">Logout</span></ion-button>
    </ion-toolbar>

    <div style="text-align: center; font-size: 15px;">
      <p>App Version: {{ version }}</p>
    </div>

    
  </ion-footer>
</ion-menu>

<!-- Profile Menu End -->
<ion-header [translucent]="true" class="mb-2">
  <ion-toolbar>
    <ion-item lines="none" class="p-0 m-0">
      <ion-img slot="start" class="profile_img m-2" src="assets/img/Logo 3x.jpg"></ion-img>
      <ion-label slot="start" class="header">GURUKUL</ion-label>
      <ion-img slot="end" class="profile_img" [src]="userImg ? userImg : 'assets/img/user.png'" (click)="onProfile()"></ion-img>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-button class="arrow_btn" slot="fixed" (click)="onArrow()">
    <!-- <ion-img src="assets/img/sideArrow.png" alt=""></ion-img> -->
  </ion-button>
  <div class="ion-padding">
    <div class="anim_card mb-3">
      <p class="col-12 anim_p"><span class="blinker">Announcement</span></p>
      <ion-text *ngIf="counterData" class="anim_text fade-in" [innerHtml]="counterData.value" [class.animation-trigger]="triggerAnimation">
      </ion-text>
    </div> 
    <!-- <ion-list lines="none" class="course_list">
      <div class="main_one" *ngFor="let item of courseData; let i = index">

        <div class="card mb-2">
          <div class="col-12 card_main" (click)="onCardClick(item)">
            <div>
              <ion-img
                [src]="(utility.getImageUrl(item.overviewfiles) ? utility.getImageUrl(item.overviewfiles) : 'assets/img/images.png')"
                class="img-fluid" alt="Image"></ion-img>
            </div>
            <div class="col-10 card_sub">
              <div class="card_body p-0">
                <div class="col-12 card_body_sub">
                  <h5 class="card_title">
                    {{ item.fullname }}
                  </h5>
                  <ion-img src="assets/icon/download.svg" alt="" (click)="onDownload($event)"></ion-img>
                </div>
                <p class="card_text">
                  Course
                </p>
                <div class="col-12 bar_main">
                  <div class="progress_bar_container col-10">
                    <div class="progress_bar" [style.width]="item.progress + '%'"></div>
                  </div>
                  <div class="percentage_display col-2">
                    {{ item.progress | number:'1.0-2' }}%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </ion-list> -->
    <div class="course_list">
      <ion-card class="card" *ngFor="let item of courseData; let i = index;" (click)="onCardClick(item)">
        <ion-card-content class="m-0 p-0">
          <ion-list lines="none" class="m-0 p-0">
            <ion-item class="m-0 p-0">
              <ion-thumbnail slot="start" class="img-fluid rounded-start">
                <img
                  [src]="(utility.getImageUrl(item.overviewfiles) ? utility.getImageUrl(item.overviewfiles) : 'assets/img/images.png')"
                  alt="Image" />
              </ion-thumbnail>
              <ion-list class="col-12">
                <ion-label class="mb-2 card_title"> {{ item.fullname | replaceAmp }}</ion-label>
                <ion-label class="card_text mb-2">
                  Course
                </ion-label>
                <div class="col-12 mb-1 bar_main">
                  <div class="progress_bar_container col-10">
                    <div class="progress_bar" [style.width]="item.progress + '%'"></div>
                  </div>
                  <div class="percentage_display col-2">
                    {{ item.progress | number:'1.0-2' }}%
                  </div>
                </div>
              </ion-list>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
    <!-- <hr class="hr" /> -->
    <!-- <div class="mb-1 mt-2">
      <div class="col-12 d-flex justify-content-between sub">
        <div class="icons_sub">
          <ion-icon class="cap_icon" name="school-sharp"></ion-icon>
          <p class="header_sub">Recommended Courses</p>
        </div>
      </div>
    </div> -->
    <!-- <ion-list lines="none" class="course_list">
      <div class="main_one" *ngFor="let progressBar of recCourses; let i = index">
        <div class="card mb-2">
          <div class="col-12 card_main">
            <div>
              <ion-img src="{{ progressBar.src }}" class="img-fluid rounded-start" alt=""></ion-img>
            </div>
            <div class="col-10 card_sub">
              <div class="card_body p-0">
                <div class="col-12 card_body_sub">
                  <h5 class="card_title">
                    {{ progressBar.name }}
                  </h5>
                  <ion-img
                  *ngIf="i > 2"
                  src="assets/img/lock.png"
                  alt=""
                ></ion-img>
                </div>
                <p class="card_text">
                  {{ progressBar.type }}
                </p>
                <div class="col-12 bar_main">
                  <div class="progress_bar_container col-10">
                    <div
                      class="progress_bar"
                      [style.width]="progressBar.value * 100 + '%'"
                    ></div>
                  </div>
                  <div class="percentage_display col-2">
                    {{ progressBar.value * 100 }}%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-list> -->
    <!-- <div class="course_list">
      <ion-card class="card" *ngFor="let progressBar of recCourses; let i = index">
        <ion-card-content class="m-0 p-0">
          <ion-list lines="none" class="m-0 p-0">
            <ion-item class="m-0 p-0">
              <ion-thumbnail slot="start">
                <ion-img src="{{ progressBar.src }}" class="img-fluid" alt=""></ion-img>
              </ion-thumbnail>
              <ion-list>
                <ion-label class="mb-1">{{ progressBar.name }}</ion-label>
                <p class="card_text">
                  {{ progressBar.type }}
                </p>
              </ion-list>
            </ion-item>
            <ion-item>
            <div class="col-12 bar_main">
              <div class="progress_bar_container col-10">
                <div class="progress_bar" [style.width]="progressBar.value * 100 + '%'"></div>
              </div>
              <div class="percentage_display col-2">
                {{ progressBar.value * 100 }}%
              </div>
            </div>
          </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div> -->
  </div>
</ion-content>
<!-- <app-footer></app-footer> -->