<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button color="primary" slot="start" defaultHref=""></ion-back-button>
    <ion-title class="grades_title">Grades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item>
      <ion-label class="grades_label">Cyber Security Awareness</ion-label>
      <ion-icon color="primary" name="chevron-forward-sharp" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label class="grades_label">New Hire Training</ion-label>
      <ion-icon color="primary" name="chevron-forward-sharp" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label class="grades_label">Compliance Training</ion-label>
      <ion-icon color="primary" name="chevron-forward-sharp" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
