.iframe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%!important;
  }
  
  .iframe-content {
    width: 90%;
    height: 50%!important;
  }
  
  @media (min-width: 768px) {
    .iframe-container {
      height: 100%!important;
    }
  }


html, body { height: 50%!important; padding: 0; margin: 0 }
#app { height: 50%!important; width: 100%; }

.html, .body { height: 50%!important; padding: 0; margin: 0 }



.option-pane {
    background: #31373a;
    color: #fff;
    z-index: 10;
    transition: none !important;
    margin-top: 130px;
    text-align: center;
}



  